/* Styling für die sichtbare App-Oberfläche */

.app {
  max-width: 60rem;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.input-section,
.result-section {
  margin-top: 2rem;
}

label,
textarea,
button {
  display: block;
}

textarea {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 40rem;
  background-color: #252631;
  color: #f3f4f6;
  border: 1px solid #5b5d6b;
}

button {
  padding: 0.5rem 1rem;
  cursor: pointer;
}